%p#notice= notice

%h1.tamuForeground Create a New Amenity

= render "form"

%h1.tamuForeground Listing amenities

.tamu
  %table{:class => "table"}
    %thead
      %tr
        %th
        %th
        %th
        %th
    %tbody
      - @amenities.each do |amenity|
        %tr
          %td= amenity.name
          %td= link_to 'Edit', edit_amenity_path(amenity)
          %td= link_to 'Delete', amenity, method: :delete, data: { confirm: 'Are you sure?' }
  tamu
  = link_to 'Back', admin_only_path
