= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %div#form
    .field
      %div
        = f.label :email
      %div
        = f.text_field :email
  %div#form
    .field
      %div
        = f.label :password
      %div
        = f.password_field :password
  %div#form
    .tamuForeground
      .field
        %div
          = f.label "Verify Password"
        %div
          = f.password_field :vPassword
    .miscButton
      .actions
        = f.submit 'Create Account'
