
%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password

= link_to 'Edit', edit_user_path(@user)
\|

= link_to 'Back', root_path
- if @user.is_admin
  #admin_options
    .actions
      f.submit 'Change user permissions'
    .actions
      f.submit 'Delete other user'
    .actions
      f.submit 'Delete post of other user'
    .actions
      f.submit 'Edit post of other user'