%body.tamu

  = form_tag users_path,          :id => 'toUsers', :method => :get do |form|
    %div
  = form_tag apartment_list_path, :id => 'toApartments',  :method => :get do |form|
    %div
  = form_tag tags_path,           :id => 'toTags', :method => :get do |form|
    %div
  = form_tag amenities_path,      :id => 'toAmenities', :method => :get do |form|
    %div
  = form_tag metrics_path,        :id => 'toMetrics', :method => :get do |form|
    %div
  = form_tag review_list_path,    :id => 'toReviews', :method => :get do |form|
    %div



  %p#notice= notice

  %div{:class => "container", :align => "center"}
    %div.row
      %h1{:style => "font-size: 30;"}= "Admin Portal"
    %div.row.center-block
      %div.col-md-4
        = submit_tag "Users", form: "toUsers", :class=>"adminButton"
      %div.col-md-4
        = submit_tag "Apartments", form: "toApartments", :class=>"adminButton"
      %div.col-md-4
        = submit_tag "Tags", form: "toTags", :class=>"adminButton"
    %div.row.center-block
      %div.col-md-4
        = submit_tag "Metrics", form: "toMetrics", :class=>"adminButton"
      %div.col-md-4
        = submit_tag "Reviews", form: "toReviews", :class=>"adminButton"
      %div.col-md-4
        = submit_tag "Amenities", form: "toAmenities", :class=>"adminButton"
