%p#notice= notice

%h1= "Admin Logged In is #{current_user.email}"

%div{:class => "container"}
  %div{:class => "row", :style => "text-align: center"}
    %div{:class => "col-xs-4"}
      -#= render :partial => "/partials/tagbutton"
      %p= 'This will become the add admin link'
    %div{:class => "col-xs-4"}
      = render :partial => "/partials/apartmentbutton"
      -#%p= 'This will become the apartment link - currently works, but linked to the wrong view'
    %div{:class => "col-xs-4"}
      = render :partial => "/partials/tagbutton"
  %div{:class => "row", :style => "text-align: center"}
    %div{:class => "col-xs-4"}
      = render :partial => "/partials/metricbutton"
    %div{:class => "col-xs-4"}
      = render :partial => "/partials/reviewsbutton"
      -#%p= 'This should become our all review page'
    %div{:class => "col-xs-4"}
      = render :partial => "/partials/amenitybutton"

= link_to 'Back', root_path