%p#notice= notice

%h1 Listing users

%table{:class => "table"}
  %thead
    %tr
      %th Email
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        -if user.is_admin
          %td Admin
        -else
          %td
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Back', admin_only_path
