%body{class: "loginBody"}

%div{class: "bigbox"}
  %h1{} Create Account
  = form_for @user do |form|
    %div{class: "box"}
      = form.text_field :email, placeholder: "Email"
      = form.password_field :password, placeholder: "Password"
      = form.password_field :vPassword, placeholder: "Verify Password"
      = form.submit "Create Account"
      = submit_tag "Back", form: "back"

  = form_tag root_path, :id => 'back', :method => :get do |form|
    %div


%div
  - if flash[:notice] != nil
    %p{class: "popup"}= flash[:notice]