%body.tamu
  %p#notice= notice
  %h1 Create a New Tag
  .tamuForeground=render 'form'
  %br
  %h1 Listing tags
  .tamuForeground
    %table{:class => "table"}
      %thead
        %tr
          %th
          %th
          %th
      %tbody
        - @tags.each do |tag|
          %tr
            %td= tag.name
            %td= link_to 'Edit', edit_tag_path(tag)
            %td= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' }
    %br
    = link_to 'Back', admin_only_path
