%h1= "Reviews"

%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
<<<<<<< HEAD
    - if @review.present?
      - @reviews.each do |review|
        %tr
          %td= "Review for #{review.get_apartment.name} by #{review.get_user.email}"
          %td= link_to 'Show', review
          -# %td= link_to 'Edit', edit_review_path(review)
          -# %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }
    -else
      %p= "Nothing to see here"
=======
    - @reviews.each do |review|
      %tr
        %td= "Review for #{review.get_apartment.name} by #{review.get_user.email}"
        %td= link_to 'Show', review
        -# %td= link_to 'Edit', edit_review_path(review)
        -# %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }
>>>>>>> f779f78ea8674c2b4020c80eb301207b9830ac21
%br/
= link_to 'New Review', new_review_path
