<p id="notice"><%= notice %></p>

<h2><%= "Apartment: #{@review.get_apartment.name}" %></h2>
<h2><%= "User: #{@review.get_user.email}" %></h2>
<hr>

<h3><%= "#{@review.review_text}" %></h3>
<h4>Amenities</h4>
<% @review.get_amenities.each do |amenity| %>
  <p><%= "#{amenity.name}" %></p>
<%end %>
<h4>Tags</h4>
<% @review.get_tags.each do |tag| %>
  <p><%= "#{tag.name}" %></p>
<%end %>
<h4>Metrics</h4>
<% @review.get_metrics.each do |metric_key, metric_value| %>
  <p><%= "#{metric_key.name}: #{metric_value}" %></p>
<%end %>



<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
