%body.tamu
  %p#notice= notice
  %h1= "#{@review.title}"
  %hr/
  %h2= "Apartment: #{@review.get_apartment.name}"
  %h2= "User: #{@review.get_user.email}"
  %hr/
  %h3= "Description: #{@review.review_text}"
  %h3= "Price(per person for unit): #{@review.price}"
  %hr
  %h2 Amenities
  - @review.get_amenities.each do |amenity|
    %p= "#{amenity.name}"
  %hr
  %h2 Tags
  - @review.get_tags.each do |tag|
    %p= "#{tag.name}"
  %hr
  %h2 Metrics
  - @review.get_metrics.each do |metric_key, metric_value|
    %p= "#{metric_key.name}: #{metric_value}"
  = link_to 'Edit', edit_review_path(@review)
  |
  -if flash[:back] == 'index' || flash[:edit] == 'index'
    .tamuForeground= link_to 'Back', reviews_path
  -else
    .tamuForeground= link_to 'Back', review_list_path
