%p#notice= notice
%h1.tamu= "#{@review.title}"
%hr/
%h2.tamu= "Apartment: #{@review.get_apartment.name}"
%h2.tamu= "User: #{@review.get_user.email}"
%hr/
%h3.tamu= "Description: #{@review.review_text}"
%h3.tamu= "Price(per person for unit): #{@review.price}"
%hr
%h2.tamu Amenities
- @review.get_amenities.each do |amenity|
  %p= "#{amenity.name}"
%hr
%h2.tamu Tags
- @review.get_tags.each do |tag|
  %p= "#{tag.name}"
%hr
%h2.tamu Metrics
- @review.get_metrics.each do |metric_key, metric_value|
  %p= "#{metric_key.name}: #{metric_value}"
.tamu
  = link_to 'Edit', edit_review_path(@review)
  |
  -if flash[:back] == 'index' || flash[:edit] == 'index'
    = link_to 'Back', reviews_path
  -else
    = link_to 'Back', review_list_path
