= form_for @apartment do |f|
  - if @apartment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@apartment.errors.count, "error")} prohibited this apartment from being saved:"
      %ul
        - @apartment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
