= form_for @apartment do |f|
  - if @apartment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@apartment.errors.count, "error")} prohibited this apartment from being saved:"
      %ul
        - @apartment.errors.full_messages.each do |message|
          %li= message
  .tamuForeground
    %div{:class => "container", :align => "center"}
      %div.row.center-block
        %div.col-md-4
          .field
            = f.label :name
            = f.text_field :name
          .field
            = f.label :imageURL
            = f.text_field :imageURL
        %div.col-md-4
          .field
            = f.label :website
            = f.text_field :website
          .field
            = f.label :address
            = f.text_field :address
        %div.col-md-4
          .field
            %div{:class => "container", :align => "center"}
              %div.col-md-4
                = f.label :description
              %div.col-md-4
                = f.text_area :description
      %div.row.center-block
        %div.col-md-4
          .field
            = f.label :bus_route, "A&M bus routes nearby"
            = f.text_field :bus_route
          .field
            = f.label "Close to campus?"
            = f.label 'isNearCampus', 'Yes'
            = f.radio_button :near_campus, true
            = f.label 'notNearCampus', 'No'
            = f.radio_button :near_campus, false
        %div.col-md-4
          .field
            = f.label "If yes: University buildings near property"
            = f.text_field :building_near
          .miscButton
            .actions
              = f.submit 'Save'
