%body.tamu
  %p#notice= notice

  %h1.tamu Create a New Apartment

  = render 'form'

  %br.tamuForeground

  %h1.tamu Listing Apartments

  .tamuForeground
    %table{:class => "table"}
      %thead
        %th
        %th
        %th
        %th
        %th

      %tbody
        -@apartments.each do |apartment|
          %tr
            %td= apartment.name
            %td= "Number of Reviews: #{apartment.review_count}"
            %td= link_to 'Show', apartment
            %td= link_to 'Edit', edit_apartment_path(apartment)
            %td= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          %tr
            %td{:colspan => "5"}= "Description: #{apartment.description}"
    %br
  .tamu= link_to 'Back', admin_only_path
