%div.jumbotron.tamu
  %h1{:style => "text-align:center"}= "Rate My Apartments"

//middle grey bar in loFi
%div.tamuForeground
  %div.container
    %div{:class => "row", :style => "text-align: center"}
      %div.col-xs-4
        = render :partial => "/partials/addreviewbutton"
      %div.col-xs-4
        = render :partial => "searchbar"
      %div.col-xs-4
        = render :partial => "/partials/showpreviousreviews"
    %div{:class => "row", :style => "text-align: center"}
      %div.col-xs-4
      %div.col-xs-4
        -if current_user
          = link_to 'Become Admin', add_admin_path(id: current_user.id)
      %div.col-xs-4

%hr

%div.container
-@apartments.each do |apartment|
  %div.row
  %div.col-xs-3
    %img{:src => apartment.imageURL, :class=>"img-thumbnail" }
    %p{:style => "text-align: center;"}= "#{apartment.address}"
  %div.col-xs-9
    %a{ :href => "apartments/#{apartment.id}", :id => apartment.name}
      %strong{:style => "float:left;padding-right:10px;font-size:x-large"}= "#{apartment.name}"
    %div= render 'rating', apartment: apartment
    %p
      %strong Website:
    %a{ :href => "#{apartment.website}"}
      %p= "#{apartment.website}"
    %p{:style => "display:block"}
    %p
      %strong Average Pricing:
    -# %p= "#{apartment.get_min_price} - #{apartment.get_max_price}"
    %p= "#{apartment.get_average_price}"
    %p
      %strong Description:
    %p= "#{apartment.description}"
    %p
      %strong{ :style => "float:left; padding: 2px;" } Tags:
      -apartment.get_tags.each do |tag, count|
        %div.tag{ :style => "float:left;padding: 0px 5px;border-radius: 25px; border: 2px solid #73AD21;margin-left: 2px;" }
          ="#{tag} #{count}"
    %p{:style => "float:right"}= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' }

