%p#notice= notice

%h1.tamu= "Apartment: #{@apartment.name}"
%h3.tamuForeground= "Average rating: #{@apartment.average_rating} from #{@apartment.review_count} review(s)"
%h3.tamuForeground= "Pricing: average = $#{@apartment.get_average_price}, min = $#{@apartment.get_min_price}, max = $#{@apartment.get_max_price}"
- if @apartment.is_close == true
  %h4.tamuForeground= "Close to campus"
  %h4.tamuForeground= "Nearby on-campus buildings: #{@apartment.get_buildings}"
- else
  %h4.tamuForeground= "Not close to campus"
-if @apartment.get_busses == 0 or @apartment.get_busses.nil?
  %h4.tamuForeground= "No buses nearby"
-else
  %h4.tamuForeground= "A&M bus routes nearby: #{@apartment.get_busses}"
%hr.tamu

=render :partial => "apartments/apartmentreviews"

-if flash[:back] == 'index'
  .tamu= link_to 'Back', root_path
-else
  .tamu= link_to 'Back', apartment_list_path
