%p#notice= notice
%h1= "Apartment: #{@apartment.name}"
%h3= "Average overall rating: #{@apartment.average_rating} from #{@apartment.review_count} reviews"
%h3= "Pricing: average = $#{@apartment.get_average_price}, min = $#{@apartment.get_min_price}, max = $#{@apartment.get_max_price}"

%hr

=render :partial => "apartments/apartmentreviews"

= link_to 'Edit', edit_apartment_path(@apartment)
|
= link_to 'Back', apartments_path
