%p#notice= notice
%h2= "#{@apartment.name}"
- if @apartment.is_close == true
  %h4= "Close to campus"
  %h4= "Nearby on-campus buildings: #{@apartment.get_buildings}"
- else
  %h4= "Not close to campus"
%h4= "A&M bus routes nearby: #{@apartment.get_busses}"

%hr/
- @reviews.each do |review|
  %h3= "#{review.review_text}"
  - review.get_metrics.each do |metric_key, metric_value|
    - if metric_key.name == "Overall"
      %h4= "Overall Rating: #{metric_value}"
  %h4 Amenities
  - review.get_amenities.each do |amenity|
    %p= "#{amenity.name}"
  %h4 Tags
  - review.get_tags.each do |tag|
    %p= "#{tag.name}"
  %h4 Metrics
  - review.get_metrics.each do |metric_key, metric_value|
    - if metric_key.name != "Overall"
      %p= "#{metric_key.name}: #{metric_value}"
  %hr/
= link_to 'Edit', edit_apartment_path(@apartment)
|
= link_to 'Back', apartments_path
